<%- include ('partials/header.ejs') -%>
<style>
	.content{
    text-align: center;
	padding: 10%;
    background: rgb(255, 255, 255,0.8);
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
</style>
<div class="container">      
	<div class="col-lg-12">
		<div class="content">
			<h1><i class="book icon"></i> Welcome to Online Blogging System....!!!!!!!!</h1>
			<hr>
			<h1>Publish your passions, your way.<br>Create a unique and beautiful blog.</h1>
			<hr>
			<br>
			  <a class="btn btn-outline-primary" href="blogs">Click here to enter the Blogs page.</a>
		</div>
	 </div>

</div>
<%- include ('partials/footer.ejs') -%>

